{% extends 'base.html' %}

{% block title %}
    New Book
{% endblock %}

{% block content %}
    <form method="POST" action="new">
        {% csrf_token %}

        <div class="form-group">
            <label for="titleInput">Titulo</label>
            {{form.titulo}}
        </div>
        <div class="form-group">
            <label  for="editorialInput">Editorial</label>
            {{form.editorial}}
        </div>
        <div class="form-group">
            <label  for="stateInput">Estado</label>
            {{form.state}}
        </div>
        <div class="form-group">
            <label  for="typeInput">Tipo</label>
            {{form.type}}
        </div>
        <button type="submit" class="btn btn-primary">Create Book</button>
    </form>
{% endblock %}